<footer class="main-footer clearfix">
  <div class="footer-info">
    ©2016 PostScript
  </div>
  <ul class="footer-social-link-list">
    <li class="footer-social-link-el">
      <a class="footer-social-link">
        <svg>
          <use xlink:href="#facebook"></use>
        </svg>
      </a>
    </li>
    <li class="footer-social-link-el">
      <a class="footer-social-link">
        <svg>
          <use xlink:href="#twitter"></use>
        </svg>
      </a>
    </li>
    <li class="footer-social-link-el">
      <a class="footer-social-link">
        <svg>
          <use xlink:href="#instagram"></use>
        </svg>
      </a>
    </li>
  </ul>
</footer>