<header class="main-header">
  <nav class="main-nav">
    <ul class="nav-list">
      <li class="nav-list-el">
        <a class="nav-link"></a>
      </li>
      <li class="nav-list-el">
        <a class="nav-link"></a>
      </li>
      <li class="nav-list-el">
        <a class="nav-link"></a>
      </li>
      <li class="nav-list-el">
        <a class="nav-link"></a>
      </li>
    </ul>
  </nav>
</header>