<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style type="text/css">
    @import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,800|Mada|Nothing+You+Could+Do';
  </style>
  <link rel="stylesheet" href="styles/all.css">
    <link rel="icon" href="./images/logo-grey.png">
  <script type="application/javascript" data-main="scripts/main" src="scripts/require.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <title>{{title}} | PostScript</title>
</head>