<header class="main-header clearfix">
  <img class="main-logo" src="./images/logo-white.png">
  <nav class="main-nav">
    <ul class="nav-list clearfix">
      <li class="nav-list-el current">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-list-el">
        <a class="nav-link" href="#">Our Mission</a>
      </li>
      <li class="nav-list-el">
        <a class="nav-link" href="#">Our Work</a>
      </li>
      <li class="nav-list-el">
        <a class="nav-link" href="#">Our Team</a>
      </li>
      <li class="nav-list-el">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </nav>
</header>