<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles/index.css">
  <script type="application/javascript" data-main="scripts/main" src="scripts/require.js"></script>
  <title>{{title}} | PostScript</title>
</head>