<!DOCTYPE html>
<html lang="en">
{{> head campaign="true" title="Cinnaminson Prom Dress Drive"}}
<body data-js="index">
<!--We render the icon partial on each page and use icons via svg+use-->
{{> icons}}
{{> header campaign="true"}}

<main class="cinna-container">
    <section class="cinna-banner" title="Our Mission">
        <div class="cinna-banner-content-container">
            <div class="cinna-banner-header-container">
                <h1 class="cinna-banner-heading">Emma Godshall</h1>

                <h2 class="cinna-banner-subheading">Prom Dress Drive<br /> 03-25-2017</h2>

                <h1 class="cinna-banner-heading">Cinnaminson High School</h1>
            </div>
        </div>
    </section>

    <section class="section-outer-container light">
        <div class="section-inner-container">
            <h1 class="section-header">Let's do something special!</h1>

            <div class="section-content">
                <p class="section-paragraph">
                    Cinnaminson High School is hosting a prom dress drive. Our event will ensure that young women have the opportunity to enjoy their high school prom nights, without having to pay the hundreds of dollars on a beautiful prom dress.
                </p>
                <p class="section-paragraph">
                    Prom is seen as a fantasy night. It is so easy to only think of making the night revolve around yourself, especially when
                    you attend a school whose economic standing is similar to mine. I hope to spread awareness and help to create a magical
                    night for other teens as well.
                </p>
            </div>
        </div>
    </section>

    <!--<section class="section-outer-container ">-->
        <!--<div class="section-inner-container">-->
            <!--<h1 class="section-header">Donate your dresses</h1>-->

            <!--<div class="section-content">-->
                <!--<p class="section-paragraph">-->
                    <!--Please fill out a dress donation form here :)-->
                <!--</p>-->
                <!--<div style="width:100%;display: block; text-align: center">-->
                    <!--<button class="donation-button">Donation Form</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
    <section id="ofgm-typeform">
        <!-- Change the width and height values to suit you best -->
        <div class="typeform-widget" data-url="https://fairygodmother1.typeform.com/to/i0LNWr" data-text="OFGM Dress Donation" style="width:100%;height:500px;"></div>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
    </section>

      <section class="section-outer-container light">
        <div class="section-inner-container">
          <h1 class="section-header">About Emma</h1>

          <div class="section-content">
            <p class="section-paragraph">
                I'm a junior who goes to school everyday surrounded by a majority upper-middle class school community.
                Many people in my school have never known economic struggles - and quite honestly, neither have I.
                Despite this, my parents always emphasized putting yourself in other people's shoes.
                I've grown up aware of the hardships other people go through.
            </p>
              <div style="width:100%;display: block; text-align: center">
                <a style="font-size: xx-large;" class='section-paragraph' href="mailto:egodshall@sch.org">Contact me via email!</a>
              </div>
          </div>
        </div>
      </section>

</main>


{{> footer}}
</body>
</html>