<!DOCTYPE html>
<html lang="en">
{{> head title="About"}}
<body data-js="about">
<!--We render the icon partial on each page and use icons via svg+use-->
{{> icons}}
{{> header about="true"}}
    <main class="landing-container">
        <section id="about-content" class="container-fluid clearfix">
            <h2>ABOUT</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-10">
                    <h3>POST SCRIPT | OFGM</h3>
                    <div class="">
                        <img class="img-responsive" src="images/ps-logo-black.png">
                        <div id="about-text"> 
                            <p>
                                During junior year of high school, Jinhee
                                borrowed a dress from a friend to attend her
                                prom.If she did not, she would not be able to
                                attend her prom due to the high costs. Her
                                senior year, she was speaking with a friend
                                and her friend said she was not attending prom
                                because she could not afford it. Jinhee's heart
                                broke not only for her, but all the other girls
                                that would have to sit out due to their financial
                                circumstances because that was her just last year.
                                She thought if girls had to miss out on prom due
                                to affordability, there must be other things they
                                had to miss out. This was the beginning of
                                "Our Fairy Godmother". Jinhee wanted to
                                provide girls the opportunity to attend their
                                prom by collecting dresses. This soon became
                                an initiative that supported the tri-state area
                                (NJ, PA, DE) with over 3,200 dresses collected
                                over the past 7 years.
                                <br>
                                When Jinhee went to administration with this
                                idea, there was a lot of doubt - how will you getdresses,
                                who will come to the attend, what if you
                                don't collect enough, etc. Jinhee faced multiple
                                encounters like this where adults felt she was "too
                                young" to accomplish something that was fueled
                                by her passions. In order to combat this and
                                remind the youth of what they are truly capable
                                of doing, Jinhee created Post Script. The meaning
                                of P.S. is "afterthought" and Jinhee doesn't want
                                younger people to be an afterthought and show
                                the voice and stake they have in being the
                                generation who have the capabilities and capacity
                                to make a lasting impact. Under Post Script, The
                                Our Fairy Godmother initiative will be able to
                                reach girls across the nation and empower them
                                to host their own collection and execute their own
                                visions on what to do with the dresses - host an
                                event, donate to a local nonprofit, and so on.
                                <br>
                                Join Post Script and let us show the world that we are
                                not the afterthought.
                                <br>
                                <b>BE EMPOWERED FOR CHANGE.</b>

                            </p>
                        </div>
                    </div>  

                </div>
                <div class="col-xs-12 col-sm-2">
                <div id="team-content">
                        <h2>THE TEAM</h2>
                        <ul id="team-list">
                            <li>
                                <p>Jinhee Lee</p>
                            </li>
                            <li>
                                <p>Ronnie Mendoza</p>
                            </li>
                        </ul>
                    </div>
                    <div id="contact-content">

                    </div>
                </div>
            
            </div>
        
        </section>
    </main>   
    
{{> footer}}
</body>
</html>