<!DOCTYPE html>
<html lang="en">
{{> head title="Conact"}}
<body>
<!--We render the icon partial on each page and use icons via svg+use-->
{{> icons}}
{{> header contact="true"}}
<main class="mission-container">
  <section class="section-outer-container">
    <div class="section-inner-container">
      <h1 class="section-header">Send us a message.</h1>

      <div class="section-content">
        <p class="section-paragraph center-text">
          Feel free to reach out to us and we'll get back as soon as we can!
        </p>
      </div>

      <form class="contact-form" action="https://formspree.io/rbonbonm@gmail.com"
      method="POST">
        <input type="text" name="name" placeholder="Full Name" required>
        <input type="email" name="_replyto" placeholder="Email" required>
        <input type="hidden" name="_subject" value="Jinhee from Postscript!" required>
        <textarea name="message" placeholder="Message" required></textarea>
        <input type="submit" value="Send">
          <input type="text" name="_gotcha" style="display:none" />
          <input type="hidden" name="_next" value="http://empoweredforchange.org/contact.html" />
      </form>
    </div>
  </section>
</main>

{{> footer}}
</body>
</html>