<!DOCTYPE html>
<html lang="en">
{{> head title="Home"}}
<body data-js="index">
<!--We render the icon partial on each page and use icons via svg+use-->
{{> icons}}
{{> header home="true"}}

<main class="landing-container">
  <section class="landing-banner">
    <div class="landing-banner-content">
      <h1 class="banner-heading">Empower Youth.</h1>

      <h2 class="banner-subheading">
        Empower future leaders to engage in local and global issues and take an active role in creating a lasting impact
      </h2>
      <button class="landing-banner-button solid-button">
        Learn More
      </button>
    </div>
  </section>

  <section class="section-outer-container light">
    <div class="section-inner-container">
      <h1 class="section-header">Let the youth be heard.</h1>

      <div class="section-content">
        <p class="section-paragraph">
          In society, the youth are often forgotten, but as a part of Post Script, you
          will be recognized. Post Script will provide opportunities for students’ ideas and ambitions to be heard.
          See how you can help.
        </p>
      </div>

      <ul class="landing-ways-to-help-list clearfix">
        <li class="landing-way-to-help">
          <svg class="way-to-help-icon">
            <use xlink:href="#glasses"></use>
          </svg>
          <button class="way-to-help-button solid-button">Learn</button>
        </li>
        <li class="landing-way-to-help">
          <svg class="way-to-help-icon">
            <use xlink:href="#money"></use>
          </svg>
          <button class="way-to-help-button solid-button">Donate</button>
        </li>
        <li class="landing-way-to-help">
          <svg class="way-to-help-icon">
            <use xlink:href="#megaphone"></use>
          </svg>
          <button class="way-to-help-button solid-button">Help</button>
        </li>
      </ul>
    </div>
  </section>

</main>

{{> footer}}
</body>
</html>