<!DOCTYPE html>
<html lang="en">
{{> head title="Home"}}
<body data-js="index">
<!--We render the icon partial on each page and use icons via svg+use-->
{{> icons}}
{{> header home="true"}}

<main class="landing-container">
  <section id="bgtog" class="landing-banner" title="Empower Youth">
    <div class="landing-banner-content">
<!--      <h1 class="banner-heading">Post Script. Empowered for Change.</h1>-->
        <img class="ps-logo" src="images/PS_logo_Final.png">

      <h2 class="banner-subheading">
        The youth are often forgotten as the true movers and shakers. We're bringing everyone together to be reminded of their boldness and sending out a generation of world changers.
      </h2>
      <button class="landing-banner-button solid-button">
        Learn More
      </button>


    </div>
  </section>
    

  <section class="section-outer-container light">
    <div class="section-inner-container">
      <h1 class="section-header">Let the youth be heard.</h1>

      <div class="section-content">
        <p class="section-paragraph">
          In society, the youth are often forgotten, but as a part of Post Script, you
          will be recognized. Post Script will provide opportunities for students’ ideas and ambitions to be heard.
          See how you can help.
        </p>
      </div>

      <ul class="landing-ways-to-help-list clearfix">
        <li class="landing-way-to-help">
          <svg class="way-to-help-icon">
            <use xlink:href="#glasses"></use>
          </svg>
            <a href="mission.html"><button class="way-to-help-button solid-button">Learn</button></a>
        </li>
        <li class="landing-way-to-help">
          <svg class="way-to-help-icon">
            <use xlink:href="#money"></use>
          </svg>
          <button class="way-to-help-button solid-button">Donate</button>
        </li>
        <li class="landing-way-to-help">
          <svg class="way-to-help-icon">
            <use xlink:href="#megaphone"></use>
          </svg>
          <button class="way-to-help-button solid-button">Help</button>
        </li>
      </ul>
    </div>
  </section>
    

    <section class="ofgm-outer-container">
        <div class="ofgm-inner-container row">
            <h2 class="ofgm-title">Our Fairy Godmother</h2>
        
            <div class="container-fluid">
                <p class="ofgm-paragraph">Quo vidisse relinqueret ad sed quorum varias nisi cernantur et si aliqua 
                    voluptatibus, fore eu admodum hic aute. Incurreret est laborum. Ullamco eu 
                    dolore possumus nam id dolore iudicem, probant consectetur nam admodum si iis 
                    quem qui eram o enim officia consequat de nam malis aliqua velit fabulas, dolore 
                    ullamco do comprehenderit iis ita ubi noster fore dolor. Esse nescius ab ipsum 
                    enim, ut do quis esse amet.</p>
            </div>
            <div class="container-fluid">
                <div class="row center-xs middle-xs">
                    <div class="col-sm-6">
                        <p class="ofgm-paragraph">
                       Se tamen voluptatibus. Eiusmod coniunctione te incurreret a e dolor 
                        praetermissum, quem laboris an praesentibus sed te ullamco comprehenderit. Nam 
                        dolor proident senserit de veniam cohaerescant ingeniis nulla incurreret o 
                        quamquam minim laboris, ab incididunt comprehenderit, mandaremus ubi mandaremus, 
                        ut ubi legam consequat te o amet sunt velit consequat ne non ipsum e quorum. 
                        Magna in aut cillum mandaremus hic summis admodum expetendis, o quae 
                        philosophari, excepteur eu vidisse, nostrud velit cillum cernantur fore, ea quis 
                        litteris coniunctione, eram in senserit ita magna, nam ad multos velit elit. 
                        Admodum magna nam laboris tractavissent o magna si voluptate. Qui dolore 
                        possumus consequat. De quem exercitation in in magna fabulas, ullamco minim nisi 
                        mentitum fore sed anim ubi expetendis. Irure laboris ubi transferrem, et varias 
                        malis minim nescius, culpa offendit id veniam multos a nam fugiat hic eram.
                        </p>

                    </div>

                    <div class="col-sm-6">
                        <img src="images/ofgm.jpg" alt="Our Fairy Godmother" class="ofgm-pic"> 
                    </div>
                </div>
            </div>
            
            <div class="ofgm-cta">
            
            </div>
            
        </div>
    </section>


</main>

{{> footer}}
</body>
</html>