<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./styles/index.css">
  <title></title>
</head>
<body>
{{> header}}

<main class="landing-container">
  <section class="landing-banner">
    <div class="landing-banner-content">
      <h1 class="banner-heading">Empower Youth.</h1>
      <h2 class="banner-subheading">
        Empower future leaders to engage in local and global issues and take an active role in creating a lasting impact
      </h2>
      <button class="landing-banner-button solid-button">
        Learn More
      </button>
    </div>
  </section>
</main>

{{> footer}}
</body>
</html>