<!DOCTYPE html>
<html lang="en">
{{> head title="Home"}}
<body data-js="index">
<!--We render the icon partial on each page and use icons via svg+use-->
{{> icons}}
{{> header home="true"}}

<main class="landing-container">
  <section id="bgtog" class="landing-banner" title="Empower Youth">
    <div class="landing-banner-content">
<!--      <h1 class="banner-heading">Post Script. Empowered for Change.</h1>-->
        <img class="ps-logo" src="images/PS_logo_Final.png">

      <h2 class="banner-subheading">
        A synonym for Post Script is <em class="em-text">"afterthought"</em>. The youth are often the afterthought when thinking of the true movers and shakers. We're brining everyone together to be reminded of their boldness and sending out a generation of world changers.
      </h2>
      <button class="landing-banner-button solid-button">
        Learn More
      </button>


    </div>
  </section>
    

  <section class="section-outer-container light">
    <div class="section-inner-container">
      <h1 class="section-header">Let the youth be heard.</h1>

      <div class="section-content">
        <p class="section-paragraph">
            In society, the youth are often told they are "too young" to make a difference. As a part of Post Script, the youth will be empowered with opportunities and resources for students' ideas and ambitions to be heard. See how you can help. 
        </p>
      </div>

      <ul class="landing-ways-to-help-list clearfix">
        <li class="landing-way-to-help">
          <svg class="way-to-help-icon">
            <use xlink:href="#glasses"></use>
          </svg>
            <a href="mission.html"><button class="way-to-help-button solid-button">Learn</button></a>
        </li>
        <li class="landing-way-to-help">
          <svg class="way-to-help-icon">
            <use xlink:href="#money"></use>
          </svg>
          <button class="way-to-help-button solid-button">Donate</button>
        </li>
        <li class="landing-way-to-help">
          <svg class="way-to-help-icon">
            <use xlink:href="#megaphone"></use>
          </svg>
          <button class="way-to-help-button solid-button">Help</button>
        </li>
      </ul>
    </div>
  </section>
    

    <section class="ofgm-outer-container">
        <div class="ofgm-inner-container row">        
<!--
            <div class="container-fluid">
                <p class="ofgm-paragraph">Quo vidisse relinqueret ad sed quorum varias nisi cernantur et si aliqua 
                    voluptatibus, fore eu admodum hic aute. Incurreret est laborum. Ullamco eu 
                    dolore possumus nam id dolore iudicem, probant consectetur nam admodum si iis 
                    quem qui eram o enim officia consequat de nam malis aliqua velit fabulas, dolore 
                    ullamco do comprehenderit iis ita ubi noster fore dolor. Esse nescius ab ipsum 
                    enim, ut do quis esse amet.
                </p>
            </div>
-->
            <div class="container-fluid">
                <div class="row end-md center-xs middle-xs">
                    <div class="col-sm-6 col-md-5 col-md-offset-2">
                        <h2 class="ofgm-title">Our Fairy Godmother</h2>
                        <h3 class="ofgm-sub-title">Post Script's First Initiative</h3>
                        <br>
                        <p class="ofgm-paragraph">
                            Our Fairy Godmother's dress collection and dress drive is Post Script's first initiative. Post Script will serve as the umbrella organization for Our Fairy Godmother and create a bigger impact by involving people across the nation.
                            <br>
                            <em class="green">Join the Fairy Family!</em>
                        </p>
                        <br>
                        <a href="ofgm.html"><button class="find-more-button solid-button green">Find Out More</button></a>

                    </div>

                    <div class="col-sm-6 col-md-5">
                        <img src="images/ofgm.jpg" alt="Our Fairy Godmother" class="ofgm-pic"> 
                    </div>
                </div>
            </div>
            
            <div class="ofgm-cta">
            
            </div>
            
        </div>
    </section>


</main>

{{> footer}}
</body>
</html>