<!DOCTYPE html>
<html lang="en">
{{> head title="Home"}}
<body data-js="index">
<!--We render the icon partial on each page and use icons via svg+use-->
{{> icons}}
{{> header home="true"}}

<main class="landing-container">
  <section id="bgtog" class="landing-banner" title="Empower Youth">
    <div class="landing-banner-content">
<!--      <h1 class="banner-heading">Post Script. Empowered for Change.</h1>-->
        <img class="ps-logo" src="images/PS_logo_Final.png">

      <h2 class="banner-subheading">
        The youth are often forgotten as the true movers and shakers. We're bringing everyone together to be reminded of their boldness and sending out a generation of world changers.
      </h2>
      <button class="landing-banner-button solid-button">
        Learn More
      </button>

            <script type="text/javascript">
            function bg1tog() {
                document.getElementById('bgtog').className = "landing-banner"
            }
        
            function bg2tog() {
                document.getElementById('bgtog').className = "landing-banner-2"
            }
            function bg3tog() {
                document.getElementById('bgtog').className = "landing-banner-3"
            }
            function bg4tog() {
                document.getElementById('bgtog').className = "landing-banner-4"
            }
            function bg5tog() {
                document.getElementById('bgtog').className = "landing-banner-5"
            }
            function bg6tog() {
                document.getElementById('bgtog').className = "landing-banner-6"
            }
        
        </script>
        
        <button onclick="bg1tog()">Background 1</button>
        <button onclick="bg2tog()">Background 2</button>
        <button onclick="bg3tog()">Background 3</button>
        <button onclick="bg4tog()">Background 4</button>
        <button onclick="bg5tog()">Background 5</button>
        <button onclick="bg6tog()">Background 6</button>
    </div>
  </section>
    

  <section class="section-outer-container light">
    <div class="section-inner-container">
      <h1 class="section-header">Let the youth be heard.</h1>

      <div class="section-content">
        <p class="section-paragraph">
          In society, the youth are often forgotten, but as a part of Post Script, you
          will be recognized. Post Script will provide opportunities for students’ ideas and ambitions to be heard.
          See how you can help.
        </p>
      </div>

      <ul class="landing-ways-to-help-list clearfix">
        <li class="landing-way-to-help">
          <svg class="way-to-help-icon">
            <use xlink:href="#glasses"></use>
          </svg>
            <a href="mission.html"><button class="way-to-help-button solid-button">Learn</button></a>
        </li>
        <li class="landing-way-to-help">
          <svg class="way-to-help-icon">
            <use xlink:href="#money"></use>
          </svg>
          <button class="way-to-help-button solid-button">Donate</button>
        </li>
        <li class="landing-way-to-help">
          <svg class="way-to-help-icon">
            <use xlink:href="#megaphone"></use>
          </svg>
          <button class="way-to-help-button solid-button">Help</button>
        </li>
      </ul>
    </div>
  </section>

</main>

{{> footer}}
</body>
</html>