<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles/index.css">
  <script type="application/javascript" data-main="scripts/main" src="scripts/require.js"></script>
  <title></title>
</head>
<body data-js="index">
{{> header}}

<main class="landing-container">
  <section class="landing-banner">
    <div class="landing-banner-content">
      <h1 class="banner-heading">Empower Youth.</h1>

      <h2 class="banner-subheading">
        Empower future leaders to engage in local and global issues and take an active role in creating a lasting impact
      </h2>
      <button class="landing-banner-button solid-button">
        Learn More
      </button>
    </div>
  </section>

  <section class="landing-section">
    <h2 class="landing-section-header">Let the youth be heard</h2>
    <h3 class="landing-section-subheader">
      In society, the youth are often forgotten, but as a part of Post Script, you
      will be recognized. Post Script will provide opportunities for students’ ideas and ambitions to be heard.
    </h3>
  </section>
</main>

{{> footer}}
</body>
</html>