<!DOCTYPE html>
<html lang="en">
{{> head title="Our Mission"}}
<body data-js="mission">
<!--We render the icon partial on each page and use icons via svg+use-->
{{> icons}}
{{> header mission="true"}}
<main class="mission-container">
  <section class="mission-banner row bottom-xs center-xs" title="Our Mission">
        <h1 class="mission-header">Let the <em class="pink">youth</em> be heard.</h1>
      
<!--
    <div class="mission-banner-content-container">    
      <div class="mission-banner-header-container">
        <h1 class="mission-banner-heading">Let</h1>

        <h2 class="mission-banner-subheading">The Youth</h2>

        <h1 class="mission-banner-heading">Be heard</h1>
      </div>
    </div>
-->
  </section>

  <section class="section-outer-container">
    <div class="section-inner-container">
      <h1 class="section-header">A better future generation.</h1>

      <div class="section-content">
        <p class="section-paragraph">
          The mission of Post Script is to empower the youth to see the voice and stake they have in being the generation who have the capability and capacity to make a difference. We want to engage the youth in local and global issues and make them aware of problems we face, and challenge them to take action. 
        </p>
<!--
        <p class="section-paragraph">
          Bacon ipsum dolor amet pancetta meatball biltong short ribs consectetur, consequat excepteur cupim irure
          prosciutto anim laborum shoulder. Occaecat ham kevin pastrami. Cillum prosciutto tongue brisket. Porchetta
          biltong corned beef do pork belly fatback. Cupim aliqua tongue venison, pancetta adipisicing esse in ball tip
          non beef ribs ribeye laboris qui alcatra.
        </p>
-->
      </div>
    </div>
  </section>

<!--
  <section class="section-outer-container light">
    <div class="section-inner-container">
      <h1 class="section-header">The Future.</h1>

      <div class="section-content">
        <p class="section-paragraph">
          My vision is to have the organization start by partnering with 15 schools in the Burlington/Camden County
          area.
          We will implement a school club within these 15 schools, appoint a teacher to supervise, and instruct the
          school
          to allow this club to be “student-run”.
        </p>
        <p class="section-paragraph">
          This means that the teacher is only present to supervise and the
          students are in charge of all the meetings, events, and anything else that the club may require. “Even with
          all
          the challenges, youth-led organizations are powerful models for youth empowerment and organizational and
          community development” (Young Wisdom Project, 2004).
        </p>
      </div>
    </div>
  </section>
-->
    
</main>

{{> footer}}
</body>
</html>