<!DOCTYPE html>
<html lang="en">
{{> head title="Our Fairy Godmother"}}
<body data-js="ofgm">
<!--We render the icon partial on each page and use icons via svg+use-->
{{> icons}}
{{> header ofgm="true"}}
    
<main class="ofgm-container">
    
    <section class="ofgm-banner-section">
        <div class="ofgm-banner-pic"></div>
    </section>
    
    <section class="ofgm-section row">
        <div class="ofgm-logo-box col-sm-4">
            <img class="ofgm-header-pic" src="images/ofgm-icon.png">
        </div>
        <div class="img-box">
            <a class="ofgm-thumbnail"></a>
            <a class="ofgm-thumbnail"></a>
            <a class="ofgm-thumbnail"></a>
            <a class="ofgm-thumbnail"></a>
            <a class="ofgm-thumbnail"></a>
            <a class="ofgm-thumbnail"></a>
        
        </div>
        <div class="ofgm-desc-box col-sm-7">
        
                <p class="ofgm-desc">
                    The goal of <em class="green">Our Fairy Godmother</em> is to provide young women with prom dresses. Starting in 2012,  "Our Fairy Godmother" seeks to ensure that young women have the opportunity to enjoy their high school prom nights, without having to pay the hundreds of dollars on a beautiful prom dress. Although the organization started as a small effort by one individual, throughout the years "Our Fairy Godmother" has gained many supporters and donors <em class="green">who share a passion</em> for this initiative. It is our hope that "Our Fairy Godmother" will only continue to inspire others to take action and provide even more opportunities for more young women across the nation. 
                </p>
                <br>
                <br>
                <a href="#ofgm-typeform" class="ofgm-header-2">Get involved and start your own dress drive!</a>

        </div>

    
    </section>
    
    <section class="ofgm-how-to-join">
        <ol class="join-list row center-xs middle-md around-md">
            <li class="join-item col-md-3 col-md-offset-1 col-xs-12">
                <figure class="join-figure">
                    <img class="join-img" src="images/ofgm-join-1.png">
                    <figcaption class="join-caption">
                        Think About it.
                        <br>
                        Girls can't go to prom because
                        <br>
                        they can't afford a dress...
                    </figcaption>
                </figure>
            </li>
            <li class="join-item col-md-3 col-xs-12">
                <figure class="join-figure">
                    <img class="join-img" src="images/ofgm-join-2.png">
                    <figcaption class="join-caption">
                        Let's do something!
<!--                        <br>-->
                        Talk to a club supervisor, a teacher, the principal,
<!--                        <br>-->
                        sorority/fraternity president, etc. and pick a date,
<!--                        <br>-->
                        time, and location for your prom dress drive.
                        
                    </figcaption>
                </figure>
            </li>
            <li class="join-item col-md-3 col-xs-12">
                <figure class="join-figure">
                    <img class="join-img" src="images/ofgm-join-3.png">
                    <figcaption class="join-caption">
                        Register your dress date on the Post Script website!
                        <br>
                    </figcaption>
                </figure>
            </li>
            <li class="join-item col-md-3 col-xs-12">
                <figure class="join-figure">
                    <img class="join-img" src="images/ofgm-join-4.png">
                    <figcaption class="join-caption">
                        Pick a drop off location and set a deadline
                        <br>
                        for the dresses to be dropped off.
                    </figcaption>
                </figure>
            </li>
            <li class="join-item col-md-3 col-xs-12">
                <figure class="join-figure">
                    <img class="join-img" src="images/ofgm-join-5.png">
                    <figcaption class="join-caption">
                        Let everyone know what you are doing! 
                        <br>
                        Contact local media, different community organizations,
                        <br>
                        and all your friends and let them know you are collecting prom dresses.
                        <br>
                        <a href="http://www.ourfairygodmother.org/" target="_blank" class="green" >Check out OFGM's website for even more info!</a>
                    </figcaption>
                </figure>
            </li>
        
        
        </ol>
    
    
    
    </section>
    
    <section id="ofgm-typeform">
    <!-- Change the width and height values to suit you best -->
        <div class="typeform-widget" data-url="https://fairygodmother1.typeform.com/to/VJZ4CV" data-text="OFGM Organizer Application" style="width:100%;height:500px;"></div>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
    </section>
</main>
    
    
{{> footer}}
</body>
</html>