<!DOCTYPE html>
<html lang="en">
{{> head title="Our Fairy Godmother"}}
<body data-js="ofgm">
<!--We render the icon partial on each page and use icons via svg+use-->
{{> icons}}
{{> header ofgm="true"}}
    
<main class="ofgm-container">
    <section class="ofgm-section row">
        <img class="ofgm-header begin-sm center-xs col-sm-offset-2" src="images/ofgm-icon.png">
        <div class="ofgm-box row center-xs middle-xs">
            <div class="ofgm-box-item col-sm-6 col-xs-12">
                <p class="ofgm-desc">
                    The goal of Our Fairy Godmother is to provide young women with prom dresses. Starting in 2012,  "Our Fairy Godmother" seeks to ensure that young women have the opportunity to enjoy their high school prom nights, without having to pay the hundreds of dollars on a beautiful prom dress. Although the organization started as a small effort by one individual, throughout the years "Our Fairy Godmother" has gained many supporters and donors who share a passion for this initiative. It is our hope that "Our Fairy Godmother" will only continue to inspire others to take action and provide even more opportunities for more young women across the nation. 
                </p>
                <br>
                <h2 class="ofgm-header-2">Get involved and start your own dress drive!</h2>
            </div>
<!--
            <div class="ofgm-box-item col-sm-4 col-xs-12">
                <form class="ofgm-register">
                  <fieldset>
                      <legend>
                          <h2 class="ofgm-header-2">
                              Come join our next initiative!
                          </h2>
                      </legend>
                      
                        <div class="hoverable">
                            <label>First Name:</label>
                            <br>
                            <input type="text" name="firstname">
                            <br>
                        </div>
                       
                        <label class="hoverable">Last Name:</label>
                        <br>
                        <input type="text" name="lastname">
                        <br>
                        <label class="hoverable">E-mail:</label>
                        <br>
                        <input type="email" name="email">
                        <br>
                        <label class="hoverable">Phone Number:</label>
                        <br>
                        <input type="tel" name="phone">
                        <br>
                        
                        <br> 
                        <input type="submit" value="Submit">
                  </fieldset>
                </form>
            </div>
-->
        </div>

    
    </section>
    <section id="ofgm-typeform">
    <!-- Change the width and height values to suit you best -->
        <div class="typeform-widget" data-url="https://ronnie57.typeform.com/to/KEBxsj" data-text="Membership Application" style="width:100%;height:500px;"></div>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
        
    </section>
</main>
    
    
{{> footer}}
</body>
</html>