<!DOCTYPE html>
<html lang="en">
{{> head title="Our Fairy Godmother"}}
<body data-js="ofgm">
<!--We render the icon partial on each page and use icons via svg+use-->
{{> icons}}
{{> header ofgm="true"}}
    
<main class="ofgm-container">
    <section class="ofgm-section">
    <h2 class="ofgm-header">Our Fairy Godmother</h2>
        
        <div class="ofgm-box">
            <div class="ofgm-box-item">
                <p class="ofgm-desc">
                    In laborum comprehenderit ut quem do cupidatat aut velit, varias incididunt do 
                    ipsum malis nam esse te iudicem ne enim. De doctrina firmissimum hic est 
                    voluptate exercitation, fore nam aliquip, ita amet senserit reprehenderit, fore 
                    illustriora cernantur irure mentitum aut ab tempor comprehenderit, id sunt eram 
                    te cupidatat sed ut summis laboris commodo. Minim imitarentur deserunt minim 
                    excepteur. Nostrud illum tempor, aliquip eram quibusdam o se quamquam 
                    tractavissent, consequat culpa fore ex nisi, id fugiat iudicem ingeniis est in 
                    eram reprehenderit ea arbitror o dolore excepteur hic summis eruditionem 
                    incurreret culpa vidisse. Dolore eiusmod graviterque. Ex ita despicationes e sed 
                    excepteur in voluptate. Ex labore summis aute nescius, in de malis legam varias, 
                    summis expetendis nam culpa fore ex malis de te tamen expetendis a do excepteur 
                    nam arbitror o tamen et incurreret ab legam, fore commodo te cernantur ne 
                    arbitror dolore si commodo praetermissum. Appellat non doctrina.
                </p>
            </div>
            <div class="ofgm-box-item">
                <form class="ofgm-register">
                  <fieldset>
                    <legend>Come join our next initiative!</legend>
                      
                        <label class="hoverable">First Name:</label>
                        <br>
                        <input type="text" name="firstname"><br>
                        <label class="hoverable">Last Name:</label>
                        <br>
                        <input type="text" name="lastname"><br><br>
                        <input type="submit" value="Submit">
                  </fieldset>
                </form>
            </div>
        </div>

    
    </section>
</main>
    
    
{{> footer}}
</body>
</html>