<!DOCTYPE html>
<html lang="en">
{{> head title="Our Fairy Godmother"}}
<body data-js="ofgm">
<!--We render the icon partial on each page and use icons via svg+use-->

{{> header ofgm="true"}}
    
    <main class="ofgm-main">
    
        <div class="ofgm-container">
        
                Irure senserit cohaerescant, de quem quo amet, ne lorem fore ea proident ita non 
        se veniam commodo, quae incididunt an consectetur id senserit enim cillum do 
        nisi, iudicem illum nisi commodo ipsum e hic elit offendit doctrina. An labore 
        de eram, ea laboris do mentitum. Mentitum eram fabulas non fabulas qui ullamco 
        ad vidisse a senserit, admodum quid laborum expetendis. Aliqua ab sed sint 
        arbitror si ea quid offendit. Voluptate concursionibus non deserunt, quis 
        vidisse eu iudicem. Quo quis o lorem, tamen mandaremus consequat. Sunt senserit 
        singulis, cillum ad mentitum hic veniam occaecat nam firmissimum, senserit hic 
        eram arbitror.
        </div>

    
    
    
    </main>
    
    
    
    
    
    
    
    
    
    
    
{{> footer}}
</body>
</html>