<!DOCTYPE html>
<html lang="en">
{{> head title="Our Fairy Godmother"}}
<body data-js="organizer">
<!--We render the icon partial on each page and use icons via svg+use-->
{{> icons}}
{{> header}}
    
<main class="org-container clearfix">
    <section class="org-title container-fluid row center-xs" title="OFGM Prom Dress Drive">
        <h1 class="event-name" id="ofgm-event-name">Prom Dress Drive Event Name</h1>
        <h2 class="col-sm-offset-6 col-sm-5 col-xs-offset-3 col-xs-5" id="ofgm-organizer">Organized by -_____-</h2>
    </section>

    <section class="org-event ofgm-inner row center-xs around-xs" title="Event Details">
        <div class="col-sm-7 col-xs-12 ">
            <img src="http://placehold.it/750x350" id="ofgm-event-pic">
        </div>
        <div class="col-sm-4 col-xs-8" id="ofgm-event-details">
            <h3 class="org-header">Event Details</h3>
            <ul class="event-list">
                <li class="event-line">
                    <img class="event-icon" src="images/add.svg">
                    <time class="event-item">
                        November 20, 2016 @ 1-4pm
                    </time>
                </li>
                <li class="event-line">
                    <img class="event-icon" src="images/add.svg">
                    <p class="event-item">
                        Cinnaminson High School
                    </p>    
                </li>
                <li class="event-line">
                    <img class="event-icon" src="images/add.svg">
                    <p class="event-item">
                        124 Main Street, Cinnaminson, NJ 08077
                    </p>    
                </li>
            </ul>
        </div>
    
    </section>
    <section class="org-dropoff ofgm-inner center-xs section-content" title="Dress Dropoff">
        <h2 class="org-header">How to Drop Off Dress</h2>
        <p id="ofgm-drop-desc">
            Do et fugiat cernantur, dolor litteris a arbitrantur se si expetendis 
            philosophari, occaecat distinguantur ita possumus o litteris quis ita incurreret 
            transferrem ad an iudicem illustriora, excepteur varias ad cupidatat 
            familiaritatem eu tempor duis culpa est quae. Culpa exquisitaque proident sunt 
            ingeniis qui aute iis tempor. Occaecat legam dolor quo multos. Ipsum quo 
            cernantur, quorum excepteur transferrem, ullamco quem fabulas nam mentitum velit 
            singulis incurreret ita multos hic ea labore appellat aut multos doctrina 
            transferrem, magna proident tractavissent, est ex velit velit veniam. Ullamco id 
            quae voluptate, noster hic consequat aut an illum fidelissimae ne malis ubi 
            appellat iis nulla. E fabulas imitarentur. Doctrina duis ipsum incididunt lorem, 
            aliquip est probant ita quem hic excepteur ubi culpa ubi do quis fore quis 
            nescius, quae ingeniis incididunt, ut et amet cillum quid o ex cillum quem hic 
            nescius te pariatur varias deserunt singulis. Laboris in malis cupidatat, qui 
            quorum enim ab admodum e et eram doctrina, tamen cupidatat te admodum, minim 
            concursionibus doctrina culpa nescius, cernantur elit varias admodum tamen an ad 
            qui aliqua irure malis quo si quis ingeniis.
        </p>
    </section>
    
    <section class="org-details ofgm-inner" title="Event Feed">
        <div class="row">
            <div class="col-sm-5 col-xs-12" id="ofgm-about-organizer-box">

            </div>
            <div class="col-sm-6 col-sm-offset-1 col-xs-12" id="ofgm-social-box">

            </div>
        </div>
    
    </section>
    <section class="org-admin ofgm-inner">
        <div id="ofgm-docs">
        
        </div>
    
    </section>
    
</main>
    
{{> footer}}
</body>
</html>