<!DOCTYPE html>
<html lang="en">
{{> head title="Our Team"}}
<body data-js="team">
<!--We render the icon partial on each page and use icons via svg+use-->
{{> icons}}
{{> header team="true"}}

<main class="team-container">

  <section class="team-banner">
    <div class="team-banner-container" title="Our Team">
      <div class="team-banner-content">
        <!--                CONTENT-->
      </div>
    </div>
  </section>

  <section class="team-members section-outer-container">
    <div class="team-members-container section-inner-container">
      <div class="team-members-desc section-content">
        <h1 class="section-header">Our Team</h1>

        <p class="section-paragraph center-xs">
        Meet the people dedicated to bringing rainbows and unicorns to the world!
          </p>

      </div>
    </div>
    </section>
    

    <section class="team-members-section">
        <div class="team-title-container">
            <h2 class="team-title">Staff</h2>
        </div>
        <ul class="team-members-list">
        
<!--            list item-->
            <li class="team-members-el">
                <figure class="team-members-post">   
                    <img class="top team-members-pic" src="./images/little_jinhee.jpg" alt="Little Jinhee Lee"> 
                    <img class="bottom team-members-pic" src="./images/old_jinhee.jpg" alt="Old Jinhee Lee"> 
                    <figcaption class="team-members-caption">
                        <h2>Jinhee Lee</h2>
                        <h4>HBIC</h4>
                    </figcaption>
            
                </figure>
            </li>
<!--            list item-->
<!--            list item-->
            <li class="team-members-el">
                <figure class="team-members-post">   
                    <img class="top team-members-pic" src="./images/little_crystal.jpg" alt="Little Crystal Hill"> 
                    <img class="bottom team-members-pic" src="./images/old_crystal.jpg" alt="Old Crystal Hill"> 
                    <figcaption class="team-members-caption">
                        <h2>Crystal Hill</h2>
                        <h4>Dezign Guru</h4>
                    </figcaption>
            
                </figure>
            </li>
<!--            list item-->
<!--            list item-->
            <li class="team-members-el">
                <figure class="team-members-post">   
                    <img class="top team-members-pic" src="./images/little_dik.jpg" alt="Little Hardik Patel"> 
                    <img class="bottom team-members-pic" src="./images/old_dik.jpg" alt="Old Hardik Patel"> 
                    <figcaption class="team-members-caption">
                        <h2>Hardik Patel</h2>
                        <h4>Janitorial Services Supervisor</h4>
                    </figcaption>
            
                </figure>
            </li>
<!--            list item-->


   
        </ul>
    </section>
<!--            <div class="between-team"></div>-->

    <section class="team-members-section">
        <div class="team-title-container">
            <h2 class="team-title">Board Members</h2>
        </div>
        <ul class="team-members-list">
                      
<!--            list item-->
            <li class="team-members-el">
                <figure class="team-members-post">  
                    <img class="top team-members-pic" src="./images/little_ronnie.jpg" alt="Old Ronnie Mendoza"> 
                    <img class="bottom team-members-pic" src="./images/old_ronnie.jpg" alt="Old Ronnie Mendoza"> 
                    <figcaption class="team-members-caption">
                        <h2>Ronnie Mendoza</h2>
                        <h4>Programming Padawan</h4>
                    </figcaption>
            
                </figure>
            </li>
<!--            list item-->
<!--            list item-->
            <li class="team-members-el">
                <figure class="team-members-post">   
                    <img class="top team-members-pic" src="./images/little_mahir.jpg" alt="Little Mahir Shah"> 
                    <img class="bottom team-members-pic" src="./images/old_mahir.jpg" alt="Old Mahir Shah"> 
                    <figcaption class="team-members-caption">
                        <h2>Mahir Shah</h2>
                        <h4>Fullstack Jedi</h4>
                    </figcaption>
            
                </figure>
            </li>
<!--            list item-->
<!--            list item-->
            <li class="team-members-el">
                <figure class="team-members-post">   
                    <img class="top team-members-pic" src="./images/little_meg.jpg" alt="Little Meg Schneider"> 
                    <img class="bottom team-members-pic" src="./images/old_meg.jpg" alt="Old Meg Schneider"> 
                    <figcaption class="team-members-caption">
                        <h2>Meg Schneider</h2>
                        <h4>Cupcake Fairy</h4>
                    </figcaption>
            
                </figure>
            </li>
<!--            list item-->


           
<!--            list item-->
            <li class="team-members-el">
                <figure class="team-members-post">   
                    <img class="top team-members-pic" src="./images/little_matt.jpg" alt="Little Matt Stouffer"> 
                    <img class="bottom team-members-pic" src="./images/old_matt.jpg" alt="Old Matt Stouffer"> 
                    <figcaption class="team-members-caption">
                        <h2>Matt Stouffer</h2>
                        <h4>Former Panera Bread Supplier</h4>
                    </figcaption>
            
                </figure>
            </li>
<!--            list item-->
           
<!--            list item-->
            <li class="team-members-el">
                <figure class="team-members-post">   
                    <img class="top team-members-pic" src="./images/little_pat.jpg" alt="Little Patrick Sinko"> 
                    <img class="bottom team-members-pic" src="./images/old_pat.jpg" alt="Old Patrick Sinko"> 
                    <figcaption class="team-members-caption">
                        <h2>Patrick Sinko</h2>
                        <h4>Hipstr</h4>
                    </figcaption>
            
                </figure>
            </li>
<!--            list item-->
            

<!--            list item-->
            <li class="team-members-el">
                <figure class="team-members-post">   
                    <img class="top team-members-pic" src="./images/little_sam.jpg" alt="Young Sam Udotong"> 
                    <img class="bottom team-members-pic" src="./images/old_sam.jpg" alt="Old Sam Udotong"> 
                    <figcaption class="team-members-caption">
                        <h2>Sam Udotong</h2>
                        <h4>Astropeneur</h4>
                    </figcaption>
            
                </figure>
            </li>
<!--            list item-->

            
        </ul>    
        
    </section>


</main>

{{> footer}}
</body>
</html>