<!DOCTYPE html>
<html lang="en">
{{> head title="Our Team"}}
<body data-js="team">
<!--We render the icon partial on each page and use icons via svg+use-->
{{> icons}}
{{> header team="true"}}
    
<main class="team-container">
    
    <section class="team-banner">
        <div class="team-banner-container">
            <div class="team-banner-content">
<!--                CONTENT-->
            </div>
        </div>
    </section>
    
    <section class="team-members">
        <div class="team-members-container">
            <div class="team-members-desc">
                <h1>Our Team</h1>
                <p>Here is a picture of jinhee that we can replace later. Bacon ipsum dolor sit amet short loin jerky salami sausage, hamburger t-bone doner filet mignon sirloin beef. Tail short ribs jerky leberkas prosciutto pastrami fatback jowl turkey t-bone bacon. Hamburger tail tri-tip, ribeye ham hock leberkas meatball pig short ribs jerky meatloaf. Flank shank bacon, fatback boudin ham tongue beef ribs pig brisket pancetta frankfurter. Jerky pig biltong, chicken hamburger swine corned beef beef ribs beef jowl. Kevin cow turducken, pancetta fatback swine pig boudin ball tip kielbasa venison. Pig salami capicola chuck pancetta pork. </p>
            
            </div>
            
            <div class="team-members-post-container">

                
                <div class="team-members-post">
                    <figure class="team-members-figure">
                        <img class="team-members-pic" src="../img/little_jinhee.jpg">
                        <figcaption class="team-members-caption">
                            <h2>Jin Hee</h2>
                            <a>HBIC</a>    
                        </figcaption>
                    </figure>
                </div>
                
                <div class="team-members-post">
                    <figure class="team-members-figure">
                        <img class="team-members-pic" src="../img/little_meg.jpg">
                        <figcaption class="team-members-caption">
                            <h2>Meg Schneider</h2>
                            <a>Ya know</a>    
                        </figcaption>
                    </figure>
                </div>
                <div class="team-members-post">
                    <figure class="team-members-figure">
                        <img class="team-members-pic" src="../img/little_mahir.jpg">
                        <figcaption class="team-members-caption">
                            <h2>Mahir Shah</h2>
                            <a>Fullstack Jedi</a>    
                        </figcaption>
                    </figure>
                </div>
                
<!--                TEST-->
                
                <div class="team-members-post">
                    <figure class="team-members-figure">
                        <div class="team-members-pic flip">
                            <div class="front">
                            </div>
 
                            <div class="back"> 
   
                            </div>
                        </div>
                        <figcaption class="team-members-caption">
                            <h2>Ronnie Mendoza</h2>
                            <a>Residential Fuckboi</a>    
                        </figcaption>
                    </figure>
                </div>
                
<!--                TEST-->
                
                <div class="team-members-post">
                    <figure class="team-members-figure">
                        <img class="team-members-pic" src="../img/little_sam.jpg">
                        <figcaption class="team-members-caption">
                            <h2>Sam Udotong</h2>
                            <a>Astropeneur</a>    
                        </figcaption>
                    </figure>
                </div>
                
                    
                <div class="team-members-post">
                    <figure class="team-members-figure">
                        <img class="team-members-pic" src="../img/little_matt.jpg">
                        <figcaption class="team-members-caption">
                            <h2>Matt Stouffer</h2>
                            <a>Former Panera Bread Supplier</a>    
                        </figcaption>
                    </figure>
                </div>
           
                
                <div class="team-members-post">
                    <figure class="team-members-figure">
                        <img class="team-members-pic" src="../img/little_pat.jpg">
                        <figcaption class="team-members-caption">
                            <h2>Pattycakes</h2>
                            <a>Hipstr</a>    
                        </figcaption>
                    </figure>
                </div>
                
                
                
            </div>
        </div>
    </section>
    
</main>

{{> footer}}
</body>
</html>