<!DOCTYPE html>
<html lang="en">
{{> head title="Our Team"}}
<body data-js="team">
<!--We render the icon partial on each page and use icons via svg+use-->
{{> icons}}
{{> header team="true"}}

<main class="team-container">

  <section class="team-banner">
    <div class="team-banner-container">
      <div class="team-banner-content">
        <!--                CONTENT-->
      </div>
    </div>
  </section>

  <section class="team-members section-outer-container">
    <div class="team-members-container section-inner-container">
      <div class="team-members-desc section-content">
        <h1 class="section-header">Our Team</h1>

        <p class="section-paragraph">Here is a picture of jinhee that we can replace later. Bacon ipsum dolor sit amet short loin jerky salami
          sausage, hamburger t-bone doner filet mignon sirloin beef. Tail short ribs jerky leberkas prosciutto pastrami
          fatback jowl turkey t-bone bacon. Hamburger tail tri-tip, ribeye ham hock leberkas meatball pig short ribs
          jerky meatloaf. Flank shank bacon, fatback boudin ham tongue beef ribs pig brisket pancetta frankfurter. Jerky
          pig biltong, chicken hamburger swine corned beef beef ribs beef jowl. Kevin cow turducken, pancetta fatback
          swine pig boudin ball tip kielbasa venison. Pig salami capicola chuck pancetta pork. </p>

      </div>
    </div>
    </section>
    

    <section class="team-members-section">
        <ul class="team-members-list">
        
<!--            list item-->
            <li class="team-members-el">
                <figure class="team-members-post">   
                    <img class="top team-members-pic" src="./images/little_jinhee.jpg"> 
                    <img class="bottom team-members-pic" src="./images/old_jinhee.jpg"> 
                    <figcaption class="team-members-caption">
                        <h2>Jinhee Lee</h2>
                        <h4>HBIC</h4>
                    </figcaption>
            
                </figure>
            </li>
<!--            list item-->
           
<!--            list item-->
            <li class="team-members-el">
                <figure class="team-members-post">   
                    <img class="top team-members-pic" src="./images/little_meg.jpg"> 
                    <img class="bottom team-members-pic" src="./images/old_meg.jpg"> 
                    <figcaption class="team-members-caption">
                        <h2>Meg Schneider</h2>
                        <h4>Cupcake Fairy</h4>
                    </figcaption>
            
                </figure>
            </li>
<!--            list item-->
           
<!--            list item-->
            <li class="team-members-el">
                <figure class="team-members-post">   
                    <img class="top team-members-pic" src="./images/little_mahir.jpg"> 
                    <img class="bottom team-members-pic" src="./images/old_mahir.jpg"> 
                    <figcaption class="team-members-caption">
                        <h2>Mahir Shah</h2>
                        <h4>Fullstack Jedi</h4>
                    </figcaption>
            
                </figure>
            </li>
<!--            list item-->
           
<!--            list item-->
            <li class="team-members-el">
                <figure class="team-members-post">  
                    <img class="top team-members-pic" src="./images/little_ronnie.jpg"> 
                    <img class="bottom team-members-pic" src="./images/old_ronnie.jpg"> 
                    <figcaption class="team-members-caption">
                        <h2>Ronnie Mendoza</h2>
                        <h4>Programming Padawan</h4>
                    </figcaption>
            
                </figure>
            </li>
<!--            list item-->
           
<!--            list item-->
            <li class="team-members-el">
                <figure class="team-members-post">   
                    <img class="top team-members-pic" src="./images/little_sam.jpg"> 
                    <img class="bottom team-members-pic" src="./images/old_sam.jpg"> 
                    <figcaption class="team-members-caption">
                        <h2>Sam Udotong</h2>
                        <h4>Astropeneur</h4>
                    </figcaption>
            
                </figure>
            </li>
<!--            list item-->
           
<!--            list item-->
            <li class="team-members-el">
                <figure class="team-members-post">   
                    <img class="top team-members-pic" src="./images/little_matt.jpg"> 
                    <img class="bottom team-members-pic" src="./images/old_matt.jpg"> 
                    <figcaption class="team-members-caption">
                        <h2>Matt Stouffer</h2>
                        <h4>Former Panera Bread Supplier</h4>
                    </figcaption>
            
                </figure>
            </li>
<!--            list item-->
           
<!--            list item-->
            <li class="team-members-el">
                <figure class="team-members-post">   
                    <img class="top team-members-pic" src="./images/little_pat.jpg"> 
                    <img class="bottom team-members-pic" src="./images/old_pat.jpg"> 
                    <figcaption class="team-members-caption">
                        <h2>Patrick Sinko</h2>
                        <h4>Hipstr</h4>
                    </figcaption>
            
                </figure>
            </li>
<!--            list item-->
            
<!--            list item-->
            <li class="team-members-el">
                <figure class="team-members-post">   
                    <img class="top team-members-pic" src="./images/little_crystal.jpg"> 
                    <img class="bottom team-members-pic" src="./images/old_crystal.jpg"> 
                    <figcaption class="team-members-caption">
                        <h2>Crystal Hill</h2>
                        <h4>Dezign Guru</h4>
                    </figcaption>
            
                </figure>
            </li>
<!--            list item-->
   
            
        </ul>
    </section>


</main>

{{> footer}}
</body>
</html>