$black: #000;
$grey-0: #999;
$grey-1: #625D5D;
$grey-2: #333;
$green-0: #17AA9D;
$green-1: darken($green-0,4);
$white: #FFF;
$postscript-1: #d47575;
$postscript-2: darken(#FC9D9A, 4);
$postscript-3: #ea5858;
$postscript-4: #ff898f;
$postscript-5: #b87e81;
$postscript-6: #55A0CD;

