@import 'fonts';
@import 'colors';

$header-height: 80px;
$logo-size: 40px;
$nav-height: 30px;

.main-header {
  box-sizing: border-box;
  height: $header-height;
  width: 100%;
  position: fixed;
  padding: 0 20%;
  font-family: Mada;
  z-index: 1000;
  transition: background-color .3s;

  &.solid {
    background-color: rgba($black, .7);
  }
}

.main-logo {
  float: left;
  height: $logo-size;
  margin: ($header-height - $logo-size)/2 0;
  opacity: .8;
  transition: opacity .3s;

  &:hover,
  &:active {
    opacity: 1;
  }
}

.main-nav {
  float: right;
}

.nav-list {
  height: $nav-height;
  line-height: $nav-height;
  margin-top: ($header-height - $nav-height)/2;


  .nav-list-el {
    color: rgba($white, .7);
    float: left;
    margin-left: 54px;
    transition: border-bottom .1s, color .2s;
    font-size: 18px;
    text-transform: uppercase;

    &:first-child {
      margin-left: 0;
    }

    &:hover,
    &:focus,
    &.current {
      border-bottom: 3px solid $postscript-4;
      color: rgba($white, 1);
    }
  }

  .nav-link {
    display: block;
    width: 100%;
    height: 100%;
  }
}