@import 'fonts';
@import 'colors';

.solid-button {
  color: $white;
  background-color: $postscript-1;
  border-radius: 5px;
  border: 1px solid darken($postscript-1, 5);
  font-family: Mada;
  transition: background-color .2s;

  &:hover,
  &:active {
    background-color: lighten($postscript-1, 2);
  }
}