@import 'colors';
@import 'media';

#about-content {
    position: relative;
    box-sizing: border-box;
    max-width: 1440px;

    h2 {
        margin-top: 65px;
        margin-bottom: 50px;
    }
}

#team-content {
    
}