@import 'colors';
@import 'media';

$footer-height: 120px;
$icon-height: 40px;

.main-footer {
  width: 80%;
  padding: 0 10%;
  height: $footer-height;
  background-color: $grey-2;
  color: $grey-0;

  .footer-info,
  .footer-social-link-list {
    width: 50%;
    float: left;
  }

  .footer-info {
    line-height: $footer-height;
    font-size: 1.4em;
    font-family: 'Nothing You Could Do', cursive;
  }

  .footer-social-link-list {
    height: $icon-height;
    margin: ($footer-height - $icon-height)/2 0;
    text-align: right;

    .footer-social-link-el {
      display: inline-block;
      height: $icon-height;
      width: $icon-height;
      margin-left: 20px;
    }

    svg {
      height: 100%;
      width: 100%;
      fill: $grey-0;
      transition: fill .3s;
    }

    .footer-social-link:hover {
      svg {
        fill: lighten($grey-0, 30);
      }
    }
  }
}

@include phone-and-tablet {
  .main-footer {
    height: auto;

    .footer-info,
    .footer-social-link-list {
      width: 100%;
      text-align: center;
    }

    .footer-info {
      padding-top: 40px;
      line-height: 1.4;
    }
  }
}

