@import 'colors';
@import 'media';

$banner-tint: rgba($black, .05);

.landing-main {
  width: 100%;
}

.landing-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  // use the gradient hack to tint image
    background: url('../images/PS-Heart.png') no-repeat right bottom;
//  background: linear-gradient($banner-tint, $banner-tint), url('../images/PS-banner-hand.jpg') center no-repeat;
  background-size: 50%;
}

.ps-logo-contet {
    text-align: center;
}

.ps-logo {
//    width: 50%;
    align-self: center;
    max-height: 175px;
//    -webkit-filter: drop-shadow(5px 5px 5px $grey-2);
//    filter: drop-shadow(5px 5px 5px $grey-2);
}


.landing-banner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  left: 5%;
  text-align: center;

  .banner-heading,
  .banner-subheading {
//    color: $white;
//    text-shadow: 0 0 10px rgba($black, 1);
    font-family: 'Nothing You Could Do', cursive;
  }

  .banner-heading {
    text-transform: uppercase;
    font-size: 6em;
  }

  .banner-subheading {
    line-height: 1.3;
    width: 100%;
    margin: 100px auto;
    font-size: 2em;
    font-family: 'Nothing You Could Do', cursive;
  }

  .landing-banner-button {
    font-size: 1.6em;
    padding: 10px 34px;
  }
}

.landing-section {
  padding: 50px 0;
}

.landing-section-header,
.landing-section-subheader {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans';

}

.landing-ways-to-help-list {
  margin: 50px auto 0;
  width: 100%;

  .landing-way-to-help {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
  }

  .way-to-help-icon {
    display: block;
    margin: 0 auto;
    fill: $postscript-1;
    width:80%;
  }

  .way-to-help-button {
    background-color: lighten($postscript-1, 10);
    border: none;
    display: block;
    text-transform: uppercase;
    font-size: 1.38em;
    margin: 40px auto;
    padding: 8px 26px;
  }
}

///////////////////OFGM////////////////

.ofgm-title {
    margin-top: 15px;
    color: $green-0;
//    text-shadow: 0 0 10px rgba($grey-1, .5);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Nothing You Could Do', cursive;

}
.ofgm-sub-title {
    color: $grey-0;
    margin-top: 10px;
//    text-align: right;
}

.ofgm-outer-container {
  width: 100%;
    box-sizing: border-box;
  padding: 3em 0;
  background-color: lighten($grey-0,35);
    
    .find-more-button {
        padding: 0.2em 0.3em;
        margin-bottom: 20px;
        background-color: $green-0;
        border: 1px solid darken($green-0, 5);
        font-size: 1.5em;
        
          &:hover,
          &:active {
            background-color: lighten($green-0, 2);
          }
    }

    .ofgm-inner-container {
//        max-width: 960px;
//        padding: 3em;
        margin: 0 auto;
        background-color: $white;
        
        .ofgm-paragraph {
            padding: 1em;
            font-family: 'Open Sans';
            font-size: 1.2em;
            font-weight: 200;
            color: $grey-1;
            line-height: 1.7;

        }
        .ofgm-pic {
            border: 5px solid $grey-1;
            border-radius: 2px;
            height: auto;
            max-width: 100%;
            max-height: 400px;
            margin: auto 0;
//                vertical-align: center;
        }
    }
}

