@import 'colors';

$banner-tint: rgba($black, .4);

.landing-main {
  width: 100%;
}

.landing-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  // use the gradient hack to tint image
  background: linear-gradient($banner-tint, $banner-tint), url('../images/main-banner.jpg') center no-repeat;
  background-size: cover;
}

.landing-banner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;

  .banner-heading,
  .banner-subheading {
    color: $white;
    text-shadow: 0 0 10px rgba($black, .5);
    font-family: 'Nothing You Could Do', cursive;
  }

  .banner-heading {
    text-transform: uppercase;
    font-size: 100px;
  }

  .banner-subheading {
    line-height: 36px;
    width: 60%;
    margin: 100px auto;
    font-size: 30px;
    font-family: 'Nothing You Could Do', cursive;
  }

  .landing-banner-button {
    font-size: 26px;
    padding: 10px 34px;
  }
}

.landing-section {
  padding: 50px 0;
}

.landing-section-header,
.landing-section-subheader {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans';

}

.landing-section-header {
  color: $postscript-1;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: 800;
  position: relative;
  padding-bottom: 30px;

  &:after {
    content: '';
    width: 20%;
    border-bottom: 2px solid rgba($postscript-1, .5);
    position: absolute;
    left: 40%;
    bottom: 0;
  }
}

.landing-section-subheader {
  font-size: 22px;
  line-height: 32px;
  color: $grey-1;
}

.landing-ways-to-help-list {
  margin: 50px auto 0;
  width: 900px;

  .landing-way-to-help {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
  }

  .way-to-help-icon {
    display: block;
    margin: 0 auto;
    fill: $postscript-1;
    width: 180px;
    height: 180px;
  }

  .way-to-help-button {
    background-color: lighten($postscript-1, 10);
    border: none;
    display: block;
    width: 60%;
    text-transform: uppercase;
    font-size: 22px;
    margin: 40px auto;
    padding: 8px 26px;
  }
}

