@import 'colors';
@import 'media';

.ofgm-container {
    box-sizing: border-box;
    padding: 7em 2em;
    background-color: lighten($postscript-6,40);
    background-image: url("../images/dark-tl.svg"), url("../images/dark-tr.svg"), url("../images/dark-bl.svg"), url("../images/dark-br.svg");
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;
    background-size: 25em;

    .ofgm-section {
        display: block;
        margin-top: 80px;
        min-height: 700px;
        height: 100%;
        background-color: $white;
        background-image: url(../images/ofgmcrop.png);
        background-repeat: no-repeat;
        background-position:right bottom;
//        background-attachment: fixed;
        background-size: contain;
    border-radius: 1px;

    }
    
    .ofgm-box {
        display: block;
        width: 90%;
        text-align: center;
//        flex-direction: row;
//        align-content: center;
//        align-items: center;
        
        .ofgm-box-item {
            display: inline-block;
            margin: 25px;
            max-width:50%;
            mid-width: 250px;
            padding: 15px;
            border: 1px solid black;

        }
        
    }
    .ofgm-desc {
        font-family: 'Open Sans';
        font-size: 1.1em;
        font-weight: 200;
        color: $grey-1;
        width: 100%;
        line-height: 1.7;

        .section-paragraph {
            margin-top: 30px;

            &:first-child {
                margin-top: 0;
            }
        }
    }
    
    .ofgm-header {
        margin-top: 30px;
        padding: 20px;
        color: $postscript-1;
        text-shadow: 0 0 10px rgba($grey-1, .5);
        font-weight: bold;
        font-size: 4em;
        font-family: 'Nothing You Could Do', cursive;

            &:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 40%;
              width: 20%;
              height: 0;
              border-bottom: 1px solid $grey-0;
            }
    }
    
    ///form elements///
    
    
    
}