@import 'colors';
@import 'media';

.ofgm-main {

    .ofgm-container {
        height: 750px;
       background-image: url(img/OFGMdress.png);
    background-repeat: no-repeat;
    background-position: center;
        
    }
    
    
    
    
}