@import 'colors';
@import 'media';

.ofgm-container {
    box-sizing: border-box;
    padding: 7em 0;
    background-color: lighten($postscript-6,40);
//    background-image: url("../images/dark-tl.svg"), url("../images/dark-tr.svg"), url("../images/dark-bl.svg"), url("../images/dark-br.svg");
//    background-position: top left, top right, bottom left, bottom right;
//    background-repeat: no-repeat;
//    background-size: 25em;
    
    .ofgm-banner-section {
        height: 400px;
        width: 100%;
        background-color: lighten($postscript-6,40);
        background-image: url("../images/dark-tl.svg"), url("../images/dark-tr.svg"), url("../images/dark-bl.svg"), url("../images/dark-br.svg");
        background-position: top left, top right, bottom left, bottom right;
        background-repeat: no-repeat;
        background-size: 25em;
        
        .ofgm-banner-pic {
            height: 100%;
            width: auto;
//            background-color: $white;
            background-image: url(../images/ofgm-banner-2.jpg);
            background-repeat: no-repeat;
            background-position:center;
            background-size:cover;
            
        }
    }

    .ofgm-section {
//        min-height: 650px;
        height: 100%;
        width: 100%;
        padding: 25px;
        background-color: $white;
        background-image: url(../images/ofgmcrop.png);
        background-repeat: no-repeat;
        background-position:right bottom;
        background-size: contain;
        border-radius: 10px;

    }

    .ofgm-desc-box {
        padding: 10px;
        background-color: rgba(white, .8);
    }
    
    .ofgm-desc {
        background-color: white;
        font-family: 'Open Sans';
        font-size: 1.1em;
        font-weight: 200;
        color: $grey-1;
        width: 100%;
        line-height: 1.7;

    }
    
    .ofgm-logo-box {
        height: 100%;
        padding: 10px;
        background-color: rgba(white, .8);
        text-align: right;
        
        
    }
    .ofgm-header-pic {
        height: auto;
        width: 100%;
        max-width: 400px;
        text-shadow: 0 0 10px rgba($grey-1, .5);


    }
    .ofgm-header-2 {
        font-family: 'Nothing You Could Do', cursive;
        font-size: 1.9em;
        background-color: rgba(white,.8);
        color: $green-0;
        transition: color .2ms;

        &:hover {
            color: $green-1;
        }
    }
 
    //how to join 
    .ofgm-how-to-join {
        min-height: 1000px;
        
        .join-list {
            height: 100%;
            
            padding: 25px;
        }
        .join-item {
            margin-top: 15px;
//            padding: 20px;
        }
        .join-figure {
            width: 100%;
            opacity: 1;
            
            &~not(hover) {
                opacity: .4;
            }
        }
        .join-img {
            width: 90%;
//            max-width: 400px;
            height: auto;
            transition: width 500ms;
            
            &:hover {
                width: 100%;
                
//                +.join-caption {
//                    font-size: 1.2em;
//                }
            }
            
        }
        .join-caption {
            margin-top: 15px;
            font-family: 'Nothing You Could Do', cursive;
            font-size: 20px;
            color: $grey-1;
            transition: font-size 500ms;
        }
        
    }
}

//typeform//
#ofgm-typeform {
    
}