@import 'colors';
@import 'media';

.org-container {
    display: block;
    box-sizing: border-box;
    padding: 80px 0;
    height: auto;
    width: 100%;
    background-color: $postscript-1;
    
}

.ofgm-inner {
//    display: inline-block;
    padding: 1em;
    border-radius: 6px;
    background-color: $white;
    margin: 2em;
    height: 100%;
}

.org-header {
    font-family: 'Nothing You Could Do', cursive;
    font-weight: bold;
//    font-size: 20px;
    margin-top: 20px;
}

//nest-in
.org-title {
    text-align: center;
    margin: 2em auto;
    width: 100%;
    height: 100%;
    
    .event-name {
        text-transform: uppercase;
        margin-bottom: 40px;
        text-align: center;
        font-family: 'Nothing You Could Do', cursive;
        font-weight: bold;
        color: $white;
        font-size: 3.2em;
        position: relative;
        padding-bottom: 40px;
        letter-spacing: 5px;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 40%;
          width: 20%;
          height: 0;
          border-bottom: 1px solid $white;
        }
    }
    
    #ofgm-organizer {
        font-size: 1.4em;
        
    }
    
}

.org-event {
    background-image: url("../images/dark-tl.svg"), url("../images/dark-tr.svg"), url("../images/dark-bl.svg"), url("../images/dark-br.svg");
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;
    background-size: 25em;    
    
    #ofgm-event-pic {
        max-width: 100%;
        height: auto;
        border: 5px solid $grey-1;
        border-radius: 2px;
    }
    
    #ofgm-event-details {
        
    }
    
    .event-list {
        padding: 1em;
    }
    .event-line {
        text-align: left;
        margin-bottom: 10px;
    }
    
    .event-icon {
        display: inline-block;
        height: 25px;
    }
    .event-item {
        display: inline-block;
        vertical-align: super;
        margin-left: 15px;
        font-size: 1.2em;
        text-decoration: underline;
        text-decoration-color: $grey-1;
        text-decoration-style: wavy;
    }
    
}

.org-dropoff {
    max-width: 960px;
    margin: 0 auto;
    
    #ofgm-drop-desc {
        font-family: 'Open Sans';
        color: $grey-1;
        font-size: 1.2em;
        font-weight: 300;
    }
}

.org-details {
    background-color: lighten($postscript-2,23);
    
    #ofgm-about-organizer-box {
        height: 700px;
        border: 2px $grey-1 solid;

    }
    
    #ofgm-social-box {
        height: 700px;
        border: 2px $grey-1 solid;
    }
}

.org-admin {
    
    
    
}